
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Bicycle Shipping</h3>
<blockquote>
  <b>$220 - US Mainland<br>
  $110 - Inter-Island
  </b>
    <b><i>Package includes:</i></b>
</blockquote>
  <ul>
    <li><b>All handling and processing of paperwork</b><br>
    </li>
    <li><b>Ground Shipment</b> via UPS<font color="#FF0000"> from Kona</font> to any <font color="#FF0000" >continental US State</font> or other <font color="#FF0000" >Hawaiian Island.  </font><br>
    </li>
  </ul>
<blockquote>
  <p><b><font color="#FF0000">Note!</font></b></p>
  <ul>
    <li>Any excess charges for packages considered oversize by UPS will be charged to the customer.</li>
      <li>Ground service guarantees package arrival within 7-10 working days from shipment</li>
      <li>Tracking numbers will be available within 4 days of drop off of bicycle. Customers
          are responsible for contacting Bike Works for any shipping information.
      </li>
      <li>All shipping is done on a first come, first served basis. 2nd Day Air, or Priority
          Overnight services are available at the extra cost of the service
          to the customer</li>
      <li >Extra shipping fees may apply if oversized bike box is used or you request additional insurance.</li>
  </ul>
</blockquote>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
