<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Combined Pack</h3>
<blockquote>
<b>Combined Pack Includes: Storage of your shipping container and the services listed below</b>
<p><b>Unpack, Assemble and Tune<br>
</b></p>
  <p>
    <b><i>Package includes:</i></b>
  </p>
</blockquote>
<ul>
  <li><b>Unpack bicycle</b>
    <br>
  </li>
  <li><b>Assemble bicycle</b> to customer's geometry specifications: Include saddle height measurement, saddle set back, handlebar height, etc.)<br>
  </li>
  <li><b>Tune Up:</b>
    <ol>
      <li>adjust brakes</li>
      <li>adjust derailleurs</li>
      <li>check/adjust all bearings surfaces (headset, bottom bracket, hubs)</li>
      <li>true wheels</li>
      <li>derailleur hanger alignment</li>
      <li>frame cleaning</li>
      <li>drivetrain lubrication</li>
    </ol>
  </li>
</ul>
<blockquote>
  <p><b><font color="#FF0000">Note!</font></b></p>
  <ul>
    <li>Please include any special instructions (i.e. replacement of tires, cables, brake pads)</li>
    <li>Price does not include parts or any additional labor needed.</li>
    <li>Please include your name and phone number on the case AND on the bike, and the day you would like to pick up your bike. Bikes will be assembled according to priority of pick up date<br/>
    </li>
  </ul>
</blockquote>



<h3>Disassemble and Pack for Shipment</h3>
<blockquote>
  <p><br>
    <b><i>Package includes:</i></b></p>
</blockquote>
<ul>
  <li><b>Bicycle Disassembly </b>after the race. <br>
    <br>
  </li>
  <li><b>Package Bike </b> using the safest/most effective packing materials available to
    ensure no frame or parts damage.<br>
    <br>
  </li>
  <li><b>Pack bike into UPS approved size cardboard box -- or customer's case, if provided.
    </b><br>
    <br>
    </li>
  <li>Packaging will be based on priority of customer departure.</li>
</ul>

 <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>