<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Bicycle Shipping Details</h3>

      <blockquote>
      <p><b>Disassemble and
        Pack for Shipment<br>
        $55, or $65 if box needed</b></p>
        <p><br>
          <b><i>Package includes:</i></b></p>
      </blockquote>
      <ul>
        <li><b>Bicycle Disassembly
          </b>after the race. <br>
          <br>
        </li>
        <li><b>Package Bike
          </b> using the safest/most effective packing materials available to
          ensure no frame or parts damage.<br>
          <br>
          </li>
        <li><b>Pack bike into
          UPS approved size cardboard box -- or customer's case, if provided.
          </b><br>
          <br>
          </li>
        <li>Packaging will
          be based on priority of customer departure.</li>
      </ul>

 <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
