
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Drop-off Tune Up</h3>

<blockquote>
  <p>Is your bike already assembled and ready to ride, but not ready to RACE? Schedule a final pre-race tune up.<b> - $70</b></p>
    <p>
      <b><i>Package includes:</i></b></p>
</blockquote>

  <ul>
    <li><b>Tune Up:</b>
      <ol>
        <li>adjust brakes</li>
        <li>adjust derailleurs</li>
        <li>check/adjust all bearings surfaces (headset, bottom bracket, hubs)</li>
        <li>true wheels</li>
        <li>derailleur hanger alignment</li>
        <li>frame cleaning</li>
        <li>drivetrain lubrication</li>
      </ol>
    </li>
  </ul>

  <blockquote>
    <p><b><font size="3" color="#FF0000">Note!</b></p>
    <ul>
      <li>Price does not include parts or any additional labor needed.<br>
      </li>
    </ul>
  </blockquote>

 <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>