<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Combined Race Package - $400</h3>
<blockquote>
  <p><br>
    <b><i>Package includes:</i></b></p>
  </blockquote>
  <ul>
    <li><b>Receiving and storage</b> of package until assembly of bicycle.<br>
      <br>
    </li>
    <li><b>Complete assembly</b> and tune up of bicycle.<br>
      <br>
    </li>
    <li><strong>Bike case</strong> storage.<br>
      <br>
    </li>
    <li><b>Disassembly</b> and packaging of bike after the race.<br>
      <br>
    </li>
    <li><b>Shipment</b> of package via UPS ground service <font color="#FF0000" size="3">from Kona</font> to any <font color="#FF0000" size="3">continental U.S. state.</font> <br>
      <br>
      <p><b><font size="3" color="#FF0000">Note!</font></b></p>
      <ul>
        <li>Details as specified in individual descriptions. Close this window and click the DETAILS buttons.</li>
        <li>Any excess charges for packages considered oversize by UPS will be charged to the customer.</li>
      </ul>
    </li>
  </ul>


 <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
