<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h4 class="modal-title" id="myModalLabel">Services</h4>
</div>

<h3 class="text-center">Receive and Store
  bicycle - $30</h3>
  <blockquote>
    <p>
      <b><i>Package includes:</i></b></p>
  </blockquote>
  <ul>
    <li><b>Receive packaged
      bike</b><br>
      <br>
    </li>
    <li><b>Label package
      with all applicable information</b><br>
      <br>
    </li>
    <li><b>Store package
      up to Friday before the race</b>
    </li>
  </ul>
  <blockquote>
    <p><b><font color="#FF0000">Note!</font></b></p>
    <ul>
      <li>Customer is responsible for all shipping charges to Bike Works Kona location.</li>
      <li>Any storage post race will incur additional charges</li>
    </ul>
  </blockquote>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>

