body,
html {
  margin:0;
  padding:0;
  font-size: 1em;
}
hr{size:1px;}

a,
a:visited{
  color:#fff;
}

.transparent{
  background: transparent;
  color:#fff;
}

.absolute_center{
  width: 100%;
  height:100%;
  position: absolute;
  bottom:0;
  left:0;
  top:0;
  right:0;
}

.active_hover{
  color:#fe5607;
}

.vertical-center {
  height:100%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.container{width:80%;}

/* Nav Bar Styles
-------------------------------------------------- */
.navbar .navbar-toggle .icon-bar {
    background: black;
}
ul.nav a:hover {
  color: #fe5607 !important;
  background: transparent;
  border-bottom: 2px solid #fe5607;
}

#my-affix.affix{
  background: #fff;
    a,
    a:visited{color:#000;};
}

/* Front Page Styles
-------------------------------------------------- */
img {
  position: relative;
  z-index: 0;
  margin: -10% 0;
  max-width: 100%;
}

.head{
  margin: 0 auto;
  width:80%;
  height: 40%;
  position: relative;
}

.head img{
  z-index: 3;
  width: 100%;
  height:100%;
  position: absolute;
  bottom:60px;
  left:0;
  /*top:0;*/
  right:0;
}

.rent{
  z-index: 4;
  margin:0 auto;
  width:80%;
  height:30%;
  position: relative;
}

.rent_button{
  text-align:center;
  text-decoration: none;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 175%;
  color: #FFF;
  border: 3px solid white;
  padding: 20px 60px;
  display: inline-block;
  white-space: nowrap;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rent_button:hover{
  background:white;
  color:rgba(0,0,0,0.8);
  text-decoration: none;
}

.rent_button_center{
  position:absolute;
  bottom:35%;
  left:50%;
  margin-left:-120px;
}
/*  We Are styles
-------------------------------------------------- */

#weare{
  background: #FCF5EB;
  position: relative;
  z-index: 10;
  /*height: auto;*/
  padding:100px 20px;
    blockquote {
      margin: 0 0 0.5em 0;
      padding: 0;
      font-size: 2.5em;
      font-weight: 100;
      line-height: 1.9em;
      font-weight: normal;
      position: relative;
      color: #444444;
    }
}

#weare p {
  font-size: 1.5em;
  line-height: 1.5em;
}

#weare .content{
  margin:40px 40px;
}

blockquote{border: none;}

#weare blockquote span:not(.hover-active) {
border-bottom: 1px solid #dedede;
padding-bottom: 5px;
}

.carousel-inner{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

/* Page Styles Generic
-------------------------------------------------- */
.slide img{
  height: 100%;
  width: 100%;
  margin:0;
}


/*  Location style
-------------------------------------------------- */
#location{
  background:#ebf2fc;
}

/*  Map style
-------------------------------------------------- */
#map{width:100%;}
.google_maps {
        position: relative;
        padding-bottom: 56.25%; // This is the aspect ratio
        height: 0;
        overflow: hidden;

}
.google_maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

/*  Service styles
-------------------------------------------------- */
#race_services {
}

#services_popup{
    align-content:center;
}
#services_intro{
  font-size: 1.5em;
}
#services_info{
  display: none;
   }

#services_choices{
  display: none;
  }
#services_bike_info{
  /*display: none;*/
  }

/*  Footer styles
-------------------------------------------------- */
footer {
  padding: 25px 0;
  color: #fff;
  background-color: #7e7a75;
  font-family:inherit;
}

footer a:hover{
  text-decoration: none;
  color:#fe5607;
}

footer ul{
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  color: #fff;
  text-align:center;
}

footer ul li{
  display: inline;
  list-style: none;
}

/*  Mix styles
-------------------------------------------------- */
