<!-- Location -- >
    <div id="location">
      <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <p>
          Bikeworks Beach &amp; Sports<br/>
          Waikoloa Beach Resort, Queens' Marketplace<br/>
          69-201 Waikoloa Beach Drive<br/>
          Waikoloa, Hawaii 96738
          </p>
          <p>
          bikereservations@bikeworkshawaii.com<br/>
          Open daily 9:30 AM To 9:30 PM<br/>
          808 886-5000
          </p>
        </div>
        <div class="col-md-6 text-center">

        </div>
      </div>
    </div>
    </div>
    <div id="map">
      <div class="google_maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15005.040075886955!2d-155.88007146802133!3d19.913444718679457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7954779353c8376f%3A0xbec460097bfff6ae!2sBike+Works+Beach+%26+Sports!5e0!3m2!1sen!2sus!4v1409347705705" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
    </div>



