<!-- Fixed navbar -->
      <div ui-scrollfix="+100" class="navbar transparent navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bike Works Beach &amp; Sports </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#rental">BIKE RENTAL</a></li>
              <li><a href="#service">RACE/SERVICES</a></li>
              <li><a href="#rides">RIDES</a></li>
              <li><a href="#location">FIND US</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
<!-- Header -->
<div ng-controller="plxCtrl">
  <div>
    <img src="images/sunset.jpg" alt="" du-parallax y="background">
  </div>

  <div class="rides">

    <div>Click links below for some ride suggestions. If you are a Garmin user, upload a ride… or email us your suggested ride!</div><br/>


    <div>
      <a href="http://connect.garmin.com/activity/20440643" target="_blank">Road – Pier, Walua, Napoopoo, Honaunau</a>
    </div>
    <div class="active_hover">Ride south from Kona up to the town of Captain Cook then down to Kealakekua Bay then back.
    </div>
    <div>
      <table>
        <tr>
          <td>Time:</td>
          <td>~3:15 Hours</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>~47.4 Miles </td>
        </tr>
        <tr>
          <td>Elevation Gain:</td>
          <td> ~3500 Feet</td>
        </tr>
      </table>
    </div><br/>

    <div>
      <a href="http://connect.garmin.com/activity/20440634" target="_blank">Road – Lako St, Walua Rd, KamIII, Alii Dr</a>
    </div>
    <div class="active_hover">Quick climb up to roughly 1000 feet, down then up another gradual climb. Finish the last 6 miles along Kona’s famed Ali’i Drive.
    </div>
    <div>
      <table>
        <tr>
          <td>Time:</td>
          <td>~1:30 Hours</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>~20.5 Miles </td>
        </tr>
        <tr>
          <td>Elevation Gain:</td>
          <td> ~2000 Feet</td>
        </tr>
      </table>
    </div><br/>

    <div>
      <a href="http://connect.garmin.com/activity/20440629" target="_blank">Road – Hualalai Rd, Holualoa, Poi Factory Rd.</a>
    </div>
    <div class="active_hover">Moderately steep climb up to Kona’s Coffee growing country with amazing views of the ocean.
    </div>
    <div>
      <table>
        <tr>
          <td>Time:</td>
          <td>~2:15 Hours</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>~31.25 Miles </td>
        </tr>
        <tr>
          <td>Elevation Gain:</td>
          <td> ~2500 Feet</td>
        </tr>
      </table>
    </div><br/>

    <div>
      <a href="http://connect.garmin.com/activity/20440623" target="_blank">Road – Puna Triangle Ride</a>
    </div>
    <div class="active_hover">Beautiful relatively flat loop ride on the far eastern side of the Big Island.Road – Puna Triangle Ride.
    </div>
    <div>
      <table>
        <tr>
          <td>Time:</td>
          <td>~2:00 Hours</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>~40 Miles </td>
        </tr>
        <tr>
          <td>Elevation Gain:</td>
          <td> ~2000 Feet</td>
        </tr>
      </table>
    </div><br/>

    <div>
      <a href="http://connect.garmin.com/activity/20440616" target="_blank">Road – Waimea, Old Mamalahoa, Waipio Valley</a>
    </div>
    <div class="active_hover">A Beautiful out and back Ride west of Waimea that includes the Old Mamalahoa Hwy and views of north coast and the famed Waipio Valley.
    </div>
    <div>
      <table>
        <tr>
          <td>Time:</td>
          <td>~3:30 Hours</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>~50 Miles </td>
        </tr>
        <tr>
          <td>Elevation Gain:</td>
          <td> ~3350 Feet</td>
        </tr>
      </table>
    </div><br/>


    <a href="http://www.bikeworkshawaii.com/pdfs/ride_distance.pdf" target="_blank">Ride Distances</a>

  </div>
</div>