<div ui-scrollfix="+100" class="navbar transparent navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bike Works Beach &amp; Sports </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#rental">BIKE RENTAL</a></li>
              <li><a href="#service">RACE/SERVICES</a></li>
              <li><a href="#rides">RIDES</a></li>
              <li><a href="#location">FIND US</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

<!-- Header -->
<div ng-controller="plxCtrl">
  <div>
    <img src="images/alexander.jpg" alt="" du-parallax y="background">
  </div>

<!-- Race Services -->
  <div id="weare" ng-show="aField">
    <div class="container" id="services_intro">

      <div class="row row-centered">
        <div class="col-xs-12 text-center"><h1>Race Services</h1></div>
        <div class="col-md-6 col-centered" >
          <p><b>Online reservations for service during Ironman week are not available after Thursday, October 3rd.</b> If you submit a service request after that date, a reservation will not be made. Please visit the store to inquire about your service needs.</p>
        </div>
        <div class="col-md-6 col-centered">
          <b>Aloha! Mahalo for booking service with Bike Works Beach &amp; Sports.</b> we are a full service Triathlon Shop! We have a large stock of supplies and parts and can handle all your needs, from flat tires to full overhauls.
        </div>
        <hr>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p><b>Arriving Racers: Let us help you with your bike.</b></p>
            <ul>
              <li>Fill in your personal information.</li>
              <li>Select the services that will help you.</li>
              <li>Complete and Send the form.</li>
              <li>Ship or bring your bike, as appropriate, to
                <ul>
                  <li><b>Bike Works Beach &amp; Sports</b></li>
                  <li>69-201 Waikoloa Beach Dr.</li>
                  <li>Waikoloa, Hawaii 96738.</li>
                </ul>
              </li>
            </ul>
            <p><b>Please fill this form out as completely as possible.</b></p>
            <button type="button" class="btn btn-default center-block" id="btn1" ng-click="aField=true; bField=false; cField=false; dField=false">Next</button>
        </div>
      </div>
    </div>

    <div class="container" id="services_info" ng-show="bField">
      <div class="row">
        <div class="col-xs-12">
          <h2>Personal Information</h2>
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="phone1">Phone</label>
            <input type="tel" class="form-control" id="phone1" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="address1">Address</label>
            <input type="text" class="form-control" id="address1" placeholder="Street Address">
          </div>
          <div class="form-group">
            <label for="town1">Town/City</label>
            <input type="text" class="form-control" id="town1" placeholder="Town/City">
          </div>
          <div class="form-group">
            <label for="state1">State</label>
            <input type="text" class="form-control" id="state1" placeholder="State">
          </div>
          <div class="form-group">
            <label for="zipcode1">Zipcode</label>
            <input type="text" class="form-control" id="zipcode1" placeholder="Zipcode">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">This is the address I want my bike returned to. (If appropriate service is selected on next screens.)
            </label>
          </div>
          <button type="button" class="btn btn-default" id="btn2" ng-click="aField=false; bField=true; cField=false; dField=false">Next</button>
          <button type="button" class="btn btn-default" id="btn0" ng-click="aField=true; bField=false; cField=false; dField=false">Back</button>
        </div>
      </div>
    </div>

    <div class="container" id="services_choices" ng-show="cField">
      <div class="row">
        <div class="col-xs-12">
          <h2>Service Choices - (Choose one or more)</h2>

          <!--Drop Off Tune-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Drop Off Tune Up $70">
              <b>Drop-off pre&dash;race Tune Up at Bike Works, Kailua&dash;Kona</b> -
              pre&dash;assembled bike made ready to race.<b> $70 </b> <a class="fancybox" href="service_details/drop_off_tune.html?width=400&amp;height=500" >DETAILS</a>
            </label>
          </div>
          <hr/>

          <!--Unpack Assemble Tune-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Yes Unpack Assemble and Tune $90"><b>Unpack, Assemble and Tune</b> - Out of the box and ready
              to race. <b> $90 </b> <a class="fancybox " href="service_details/unpack_tune.html?width=400&amp;height=650">DETAILS</a>
            </label>
          </div>
          <hr/>

          <!--Disassemble Pack-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Yes Disassemble and Pack for Shipment $55 or add box $65"><b>Disassemble and Pack for Shipment </b>- Bike back in box.<b> $55</b> or <b>$65</b> if box needed <a class="fancybox " href="service_details/disassemble_pack.html?width=400&amp;height=500" >DETAILS</a>
            </label>
          </div>
          <hr/>

          <!--Combined Unpack/Pack-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Yes Unpack, Assemble and Tune then Disassemble and Pack for Shipment $175"><b>Unpack, Assemble and Tune, Storage of Case and then Disassemble and Pack for Shipment </b>- Shipping Not Included.<b> $175</b> <a class="fancybox" href="service_details/combined_pack.html?width=400&amp;height=800" >DETAILS</a>
            </label>
          </div>
          <hr/>

          <!--Post Race Ship-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Yes Ship Out Mainland $250 or Inter Island $110">
              <b>Post Race Bicycle Shipping </b>- Bike Works will ship your packaged bike<span class="active_hover"> from Kona</span> to any <span class="active_hover">continental U.S. states.</span><b> $250</b><br/>Or <b><em>Inter-Island</em> Post Race Bicycle Shipping </b>- Bike Works will ship your packaged bike<span class="active_hover"> from Kona</span> to any <span class="active_hover">other Hawaiian Island.</span><b> $110</b><a class="fancybox e" href="service_details/bicycle_shipping.html?width=400&amp;height=500">DETAILS</a>
            </label>

            <b>Extra shipping fees may apply if oversized bike box is used</b>
          </div>
          <hr/>

          <!--Receive Store-->
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Receive and Store Packaged Bike $30"><b>Receive and Store bicycle </b>- You ship your bike to the Big Island.<b> $30 </b><a class="fancybox" href="service_details/receive_store.html?width=400&amp;height=500">DETAILS</a>
            </label>
          </div>
          <hr/>

          <button id="btn3" type="button" class="btn btn-default" ng-click="aField=false; bField=false; cField=false; dField=true">Next</button>
          <button id="btn1b" type="button" class="btn btn-default" ng-click="aField=false; bField=false; cField=true; dField=false">Back</button>
        </div>
      </div>
    </div>

    <div class="container" id="services_bike_info" ng-show="dField">
      <h2>Bike Info and Final Details</h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="date1" class="col-xs-5 control-label">Bike should arrive by</label>
          <div class="col-xs-7 ">
            <input type="date" class="form-control" id="date1">
          </div>
        </div>

        <div class="form-group">
          <label for="date2" class="col-xs-5 control-label">I plan to pick it up by</label>
          <div class="col-xs-7 ">
            <input type="date" class="form-control" id="date2">
          </div>
        </div>

        <div class="form-group">
          <label for="make1" class="col-xs-5 control-label">Bike Manufacturer</label>
          <div class="col-xs-7 ">
            <input type="text" class="form-control" id="make1" placeholder="Specialized, Cervelo, etc.">
          </div>
        </div>

        <div class="form-group">
          <label for="model1" class="col-xs-5 control-label">Bike Model</label>
          <div class="col-xs-7 ">
            <input type="text" class="form-control" id="model1" placeholder="Shiv, P4, etc.">
          </div>
        </div>



        <div class="form-group">
          <label for="color1" class="control-label col-xs-5 ">Color</label>
          <div class="col-xs-7 ">
            <input type="text" class="form-control" id="color1" placeholder="Pink, etc.">
          </div>
        </div>

        <div class="form-group">
          <label for="case1" class="control-label col-xs-5 ">Bike Case Type</label>
          <div class="col-xs-7 ">
            <input type="text" class="form-control" id="case1" placeholder="Thule, Serfas, etc.">
          </div>
        </div>

        <div class="form-group">
          <label for="group" class="control-label col-xs-5 ">I'm arriving as part of this group</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="group" placeholder="Team in Training, etc.">
          </div>
        </div>

          <div>
            <h4> Tips for the Best Bike Assembly: </h4>
            <p> In order to re-assemble your bicycle to your original fit,
              our mechanics need to know how you have it set up. Please
              mark, or have your local mechanic mark all heights and angles.
              (Tape or marked tape. Whiteout works well on black handlebars
              and aerobars. Black marker on silver parts. Stem spacers
              can be taped in their proper place.) </p>
              <p> <b>Note:</b> Any services that you don't
                want, or any additional services or products that you need,
                (specific parts replaced, overhauled, etc) <b>please attach
                a note to the bike.</b></p>
                <p>This form confirms your reservation for bicycle service
                  with Bike Works. Please do not send any payment. <b>You will
                  pay when you pick up your bike.</b></p>
                </div>

                <input type="submit" name="Submit" class="btn btn-default" value="Send Form">
                <button id="reset" type="button" class="btn btn-default" ng-click="aField=true; bField=false; cField=false; dField=false">Reset</button>
                <button id="btn2b" type="button" class="btn btn-default" ng-click="aField=false; bField=false; cField=true; dField=false">Back</button>
      </form>
    </div>
</div>