<!-- Fixed navbar -->
      <div ui-scrollfix="+100" class="navbar transparent navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bike Works Beach &amp; Sports </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#rental">BIKE RENTAL</a></li>
              <li><a href="#service">RACE/SERVICES</a></li>
              <li><a href="#rides">RIDES</a></li>
              <li><a href="#location">FIND US</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

<!-- Header -->
<div ng-controller="plxCtrl">
  <div class="rich">
    <img src="images/rich2.jpg" width:100% alt="" du-parallax y="background">
  </div>

  <div class="location">
      <div class="row">
        <div class="col-xs-12 col-md-3 text-center">
          <p>
          <b>Bikeworks Beach &amp; Sports</b><br/>
          Waikoloa Beach Resort<br/> Queens' Marketplace<br/>
          69-201 Waikoloa Beach Drive<br/>
          Waikoloa, Hawaii 96738
          </p>
          <p>
          bikereservations@bikeworkshawaii.com<br/>
          <b>Open daily 9:30 AM To 9:30 PM</b><br/>
          808 886-5000
          </p>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="google_maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15005.040075886955!2d-155.88007146802133!3d19.913444718679457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7954779353c8376f%3A0xbec460097bfff6ae!2sBike+Works+Beach+%26+Sports!5e0!3m2!1sen!2sus!4v1409347705705" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>


  </div>

</div>


