<!-- Fixed navbar -->
      <div ui-scrollfix="+100" class="navbar  navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bike Works Beach &amp; Sports </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#rental">BIKE RENTAL</a></li>
              <li><a href="#service" ng-click="aField=true">RACE/SERVICES</a></li>
              <li><a href="#rides">RIDES</a></li>
              <li><a href="#location">FIND US</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

<!-- Header -->
<div ng-controller="plxCtrl">

  <div class="logo_container">
    <img src="images/a_bay2.jpg" alt="" du-parallax y="background">
    <div class="logos absolute_center">
      <div class="head">
        <img src="images/bwbs_white.svg" alt="" >
      </div>
      <div class="row">
        <div class="col-sm-12 text-center hidden-xs">
            <a class="rent_button " data-toggle="modal" data-target=".bs-example-modal-lg">Rent a Bike</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row arrow_scroll" >
    <div class="col-sm-12 hidden-xs text-center motto ">
      <div class="arrow-wrap" href="#race_services">
      <span class="arrow"></span>
      <!--<span class="hint">scroll</span>-->
      </div>
    </div>
  </div>

  <!-- We Are -->
  <div class="" id="about" >
    <div class="container-fluid">

      <div class="row ">
        <div class="col-md-6">
          <p><b>Located in the Queens Marketplace in Waikaloa Beach Resort on the Big Island of Hawaii, we are the Kohala Coasts premier Outdoor Sports Store.</b></p><br/>
          <p>
            We carry Rental Bikes for Racers, Commuters, and Fitness. Our repair services are staffed by pros to keep you tuned. We have the parts and gear you need for speed, function and style.
          </p><br/>
          <p>
            <span class="active_hover">BUT THAT'S NOT ALL!</span>  <br/>We carry a wide array of top brand name beach and sport apparel including Zoot, Canari, Hoka One One, Oakley, Teva, and Olu Kai.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="carousel slide" data-ride="carousel" data-interval="3000">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/images/store_images/shop1.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop2.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop3.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop4.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop5.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop6.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="/images/store_images/shop7.jpg" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div><!-- End We Are -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Bike Rental</h4>
      </div>
      <iframe src="https://secure.webreserv.com/services/bookonline.do?businessid=bikeworksbeachnsporthi&#038;embedded=y&#038;search=y&#038;list=n" marginwidth="0" marginheight="0" width="800" height="1200" frameborder="0"><a href="https://secure.webreserv.com/services/bookonline.do?businessid=bikeworksbeachnsporthi&#038;embedded=y&#038;search=y&#038;list=n">Make Reservation</a></iframe>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>